.form-container {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 16px;
  box-shadow: 2px 2px 10px gray;
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
    padding: 0;
  }
}